ul, ol {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
h1, .h1{
    font-family: Saira Semi Condensed;
}
h2, .h2{
    font-family: Saira Semi Condensed;
}
h3, .h3{
    font-family: Saira Semi Condensed;
}
h4, .h4{
    font-family: Saira Semi Condensed;
}
h5, .h5{
    font-family: Saira Semi Condensed;
}
h6, .h6{
    font-family: Saira Semi Condensed;
}
.navbar {
    border-bottom: 0px;
    /*border-radius: 0;*/
}
.navbar-default {
    background-color: transparent;
    height: 67px;
    /*transition: all 0.4s ease;*/
}
.navbar-default.past-main{
    padding-top: 0px;
    height: 90px;                                       /*for products*/
    background-color: #010101;
    transition: 1s ease;
}
.navbar-default .navbar-nav > li > a{
    padding-top: 33px;
    color: #ffffff;                                                             /*#737373;*/
    height: 66px;
    font-family: Saira Semi Condensed;                      #Robot
    font-weight: bold;
    font-size: 15px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #e84545;                                     /*    #707faa;#27ace4     */
    /*border-bottom: 4px solid #707faa;*/
    transition: all 0.3s ease-in;
}
.navbar-default .navbar-nav > .active > a{
    height: 66px;
    color: #46c5e2;                                 /*    #e9e9ed#707faa;;    */
    background: inherit;
    /*border-bottom: 4px solid #707faa;*/
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #414a63;                                 /*    #a9a9ad;    */
    /*border-bottom: 4px solid #414a63;      */         /*    #707faa;    */
    background-color: inherit;                      /*    #707faa;    */
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
            -webkit-transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
        }
    }
}

.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 950px;
}

.item:nth-child(1) {
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url("images/jeansbutton.png");
    background-size: stretch;
    background-position: center center;
}

.item:nth-child(2) {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("images/jacket2.png");
    background-size: stretch;
    background-position: center center;
}

.item:nth-child(3) {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("images/redbutton.png");
    background-size: stretch;
    background-position: center center;
}
/*.item:nth-child(4) {
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("images/lace-finall.png");
    background-size: stretch;
    background-position: center center;
}
.item:nth-child(5) {
    background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)),url("images/waistbelt1.png");
    background-size: stretch;
    background-position: center center;
}
.item:nth-child(6) {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("images/redbutton.png");
    background-size: stretch;
    background-position: center center;
}
.item:nth-child(7) {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("images/whitelace.png");
    background-size: stretch;
    background-position: center center;
}
.item:nth-child(8) {
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url("images/bnw.png");
    background-size: stretch;
    background-position: center center;
}
.item:nth-child(9) {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("images/button-final.png");
    background-size: stretch;
    background-position: center center;
}*/
.animated{
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.animated li{
    display: inline-block;
    font-family: Saira Semi Condensed;
    font-weight: 300;
    font-size: 5em;
    color: #fefefe;
    opacity: 1;
    transition: all 3s ease;        /*1s in case of using both hidden and inorder*/
}
.animated li:last-child{
    margin-right: 0;
}
.hidden{
    opacity: 0;
}
.inorder li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.inorder li:nth-child(2) { transform: translateX(-40px) translateY(80px); }
.inorder li:nth-child(3) { transform: translateX(0px) translateY(-150px); }
.inorder li:nth-child(4) { transform: translateX(60px) translateY(100px); }
.inorder li:nth-child(5) { transform: translateX(150px) translateY(-180px); }

/*highlight*/
#highlight{
    margin: auto;
    position: relative;
}

#highlight > div{
    position: absolute;
    top: 15px;
    left: 150px;
}

.bg{
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #F1F1F1;                           /*    #fff8e5;    */
    height: 630px;
}
/*
.bg .bghalf{
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
}

.bg .bghalf.imgone{
    background: url("images/whitelace.png")no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: left center;
    left: 0;

}
*/
.bg .bgpadding{
    padding: 18rem 0;
}

.testimonial .dpcontainer{
    vertical align: middle;
    display: table-cell;
}

.testimonial .dpcontainer .img-circle{
    width: 90px;
    height: 90px;
    border: 3px solid #515a5f;
}

.testimonial .sign{
    vertical-align: middle;
    padding-left: 20px;
    display: table-cell;
}

/*services*/
.service-section {
	padding-top: 100px;
}
.services {
	margin-bottom: 50px;
}
.services a:hover{
    text-decoration: none;
}
.services-content {
	padding: 0;
	margin-top: 30px;
}
.services .icon {
	color: #e84545;
	font-size: 3em;
}

/* work */
.section {
	padding: 100px 0;
}
.no-padding {
	padding: 0;
}
.no-gutter [class*=col-] {
	padding-right: 0;
	padding-left: 0;
}
.work {
	-moz-box-shadow: 0 0 0 1px #fff;
	-webkit-box-shadow: 0 0 0 1px #fff;
	box-shadow: 0 0 0 1px #fff;
	overflow: hidden;
	position: relative;
}
.work img {
	width: 100%;
	height: 100%;
}
.work .overlay {
	background: rgba(232, 69, 69, 0.9);
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-moz-transition: opacity, 0.3s;
	-o-transition: opacity, 0.3s;
	-webkit-transition: opacity, 0.3s;
	transition: opacity, 0.3s;
}
.work .overlay-caption {
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.work h5, .work p, .work img {
	-moz-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	-webkit-transition: all, 0.5s;
	transition: all, 0.5s;
}
.work h5, .work p {
	color: #fff;
	margin: 0;
	opacity: 0;
}
.work span {
	font-size: 45px;
}
.work h5 {
	margin-bottom: 5px;
	-moz-transform: translate3d(0, -200%, 0);
	-ms-transform: translate3d(0, -200%, 0);
	-webkit-transform: translate3d(0, -200%, 0);
	transform: translate3d(0, -200%, 0);
}
.work p {
	-moz-transform: translate3d(0, 200%, 0);
	-ms-transform: translate3d(0, 200%, 0);
	-webkit-transform: translate3d(0, 200%, 0);
	transform: translate3d(0, 200%, 0);
}
.work-box:hover img {
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.work-box:hover .overlay {
	opacity: 1;
}
.work-box:hover .overlay h5, .work-box:hover .overlay p {
	opacity: 1;
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
/*footer*/
.social-icons, .footer .footer-share {
	margin-top: 30px;
}
.social-icons li, .footer .footer-share li {
	display: inline-block;
	float: none;
}
.social-icons a, .footer .footer-share a {
	border: 1px solid #e8ecee;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	color: #c6cacc;
	display: block;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	margin-right: 5px;
	text-align: center;
	width: 32px;
}
.social-icons a:hover, .footer .footer-share a:hover {
	background-color: #e84545;
	border-color: #e84545;
	color: #fff;
}
.footer {
	text-align: left;
}
.footer-top {
	background-color: #181818;
	padding-top: 50px;
}
.footer-bottom {
	background-color: #313454;
	padding: 20px 0;
}
.footer .footer-col {
	margin-bottom: 30px;
}
.footer h5 {
	color: #fff;
}
.footer h5 {
	margin-bottom: 20px;
}
.footer p {
	color: rgba(255, 255, 255, 0.50);
}
.footer a {
	color: rgba(255, 255, 255, 0.50);
}
.footer a:hover {
	color: #e84545;
	text-decoration: none;
}
.footer .footer-share {
	margin-top: 0;
}
.footer .footer-share li {
	display: inline-block;
	float: none;
}
.footer .footer-share a {
	border: none;
	font-size: 21px;
	color: rgba(255, 255, 255, 0.25);
}
.footer .fa-heart {
	color: #e84545;
	font-size: 11px;
	margin: 0 2px;
}

